 html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position:absolute;
 
}
body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Trebuchet MS";
}
.navbar{
  border-radius:0px;
}
.navbar-default{
  background-image:linear-gradient(#484e55, #3a3f44 100%, #313539);
  border-color:#484e55;
  margin-bottom:0px;
  color:#c8c8c8;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #272b2e;
  color:#ffffff;
}
.container-fluid>.navbar-collapse{
  float:right;
}
.btn-default{
  background-image: linear-gradient(#020202, #101112 100%, #191b1d);
  color:#ffffff;
  border-color:#020202;
}
.nav-pills{
  float: right;
}
.nav>li>a{
  color: #C2C8CD;
}
.nav-pills>li.active>a{
  background-color:#212528;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #212528;
}
.nav-pills>li>a:hover{
  background-color: #767A7E;
}
.dropdown-menu{
  background-color: rgb(134, 144, 144);
}
.addImagePanel{
  margin:5px;
  padding:5px;
  min-width:400px;
  background-color: rgb(134, 144, 144);
  z-index:5;
  position:absolute;
  bottom:50px;
  right:10px;
}
.roundedCorners {
  border-radius: 10px;
  box-shadow: 4px 4px 8px #adadad;
}
